<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEKATE48 fanmade Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="icon" href="/assets/css/image/favlogo.png" />
    <meta name="author" content="JEKATE48">
    <meta property="og:title" content="JEKATE48">
    <meta property="og:image:height" content="961">
    <meta property="og:image:width" content="1905">
    <meta property="og:type" content="website">
    <meta property="og:image"
        content="https://cdn.discordapp.com/attachments/989168672708919317/1312702801561784430/jekate.png?ex=674d7540&is=674c23c0&hm=9ea5ecf4eb8348721762f134b4a30affbb5adcf3020bbb79b46a830dc1266520&">
    <meta property="og:title" content="JEKATE48">
    <meta name="description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
    <meta property="og:description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
</head>

<body class="min-h-screen bg-gray-900 text-white">
    <nav class="flex items-center justify-between p-3 bg-gray-800">
        <div class="text-2xl font-bold">
            <a href="/home">JEKATE48</a>
            <span class="text-lg text-sm font-thin">fanmade Website</span>
        </div>
        <div class="md:hidden flex items-center">
            <button id="hamburger-icon" class="text-white">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div id="nav-links" class="hidden md:flex items-center space-x-6">
            <a href="/news" class="hover:text-pink-500">News</a>
            <a href="/members" class="hover:text-pink-500">Members</a>
            <a href="/schedule" class="hover:text-pink-500">Schedule</a>
            <a href="/ssk" class="hover:text-pink-500">Sousenkyo</a>
            <a href="/mypage">
                <button
                    class="px-4 py-2 bg-gradient-to-r from-pink-300 via-purple-300 to-cyan-300 text-gray-800 rounded-full hover:opacity-90">
                    Mypage
                </button>
            </a>
            <a href="/login.html">
                <button
                    class="px-4 py-2 border border-pink-300 text-pink-300 rounded-full hover:bg-pink-300 hover:text-gray-800 transition duration-300">
                    Login
                </button>
            </a>
        </div>
    </nav>
    <div id="mobile-menu" class="md:hidden hidden bg-gray-800 p-3 space-y-4">
        <a href="/news" class="block text-white hover:text-pink-500">News</a>
        <a href="/members" class="block text-white hover:text-pink-500">Members</a>
        <a href="/schedule" class="block text-white hover:text-pink-500">Schedule</a>
        <a href="/ssk" class="block text-white hover:text-pink-500">Sousenkyo</a>
    
        <a href="/mypage" class="block">
            <button
                class="w-full px-4 py-2 bg-gradient-to-r from-pink-300 via-purple-300 to-cyan-300 text-gray-800 rounded-full hover:opacity-90">
                Mypage
            </button>
        </a>
        <a href="/login" class="block">
            <button
                class="w-full px-4 py-2 border border-pink-300 text-pink-300 rounded-full hover:bg-pink-300 hover:text-gray-800 transition duration-300">
                Login
            </button>
        </a>
    </div>

    <div id="progressContainer" class="relative w-full h-1 bg-gray-700">
        <div id="progressBar" class="absolute h-1 bg-gradient-to-r from-pink-300 via-purple-300 to-cyan-300"
            style="width: 0%;">
        </div>
    </div>

    <div class="container mx-auto p-4 md:p-8">
        <h1 class="text-2xl md:text-4xl font-bold mb-8">JKT48 Members</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
            <section class="bg-gray-800 p-4 md:p-6 rounded-lg">
                <h2 class="text-xl md:text-2xl font-bold mb-4 md:mb-6 flex items-center">
                    <i class="fas fa-user-circle mr-2"></i> Members
                </h2>
                <div id="core-members" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 auto-rows-max">
                    <div class="animate-pulse flex flex-col items-center">
                        <div class="w-24 h-24 bg-gray-600 rounded-full mb-2"></div>
                        <div class="h-4 bg-gray-600 rounded w-16 mb-2"></div>
                        <div class="h-3 bg-gray-600 rounded w-12"></div>
                    </div>
                </div>
            </section>

            <section class="bg-gray-800 p-4 md:p-6 rounded-lg">
                <h2 class="text-xl md:text-2xl font-bold mb-4 md:mb-6 flex items-center">
                    <i class="fas fa-user-graduate mr-2"></i> Trainee Members
                </h2>
                <div id="trainee-members" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 auto-rows-max">
                    <div class="animate-pulse flex flex-col items-center">
                        <div class="w-24 h-24 bg-gray-600 rounded-full mb-2"></div>
                        <div class="h-4 bg-gray-600 rounded w-16 mb-2"></div>
                        <div class="h-3 bg-gray-600 rounded w-12"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>



    <footer class="bg-gray-800 p-8 mt-auto">
        <div class="flex flex-col md:flex-row justify-between items-start mb-8">
            <div class="text-2xl font-bold mb-6 md:mb-0">JEKATE48 <span class="text-lg text-base font-thin">fanmade
                    Website</span></div>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
                <div>
                    <h3 class="font-semibold mb-4">News</h3>
                    <ul class="space-y-2">
                        <li><a href="/about" class="text-gray-400 hover:text-white">About JEKATE48</a>
                        </li>
                        <li><a href="/schedule" class="text-gray-400 hover:text-white">Schedule</a></li>
                    </ul>
                    </ul>
                </div>
                <div>
                    <h3 class="font-semibold mb-4">Member</h3>
                    <ul class="space-y-2">
                        <li><a href="/members" class="text-gray-400 hover:text-white">Members</a></li>
                        <li><a href="/members" class="text-gray-400 hover:text-white">Trainee</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="font-semibold mb-4">Contact</h3>
                    <ul class="space-y-2">
                        <li><a href="/terms" class="text-gray-400 hover:text-white">Terms</a></li>
                        <li><a href="/support" class="text-gray-400 hover:text-white">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-700 pt-8 flex flex-col md:flex-row justify-between items-center">
            <p class="text-gray-400 mb-4 md:mb-0">&copy; 2024 JEKATE48 fanmade Website by Typicalsleepingboy. All rights
                reserved.</p>
            <div class="flex space-x-4">
                <p class="text-gray-400 mb-4 md:mb-0">Version : 0.8.0</p>
                <a href="https://github.com/Typicalsleepingboy" class="text-gray-400 hover:text-white">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/_naufaldzaky1/" class="text-gray-400 hover:text-white">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://x.com/Typicalsleeping" class="text-gray-400 hover:text-white">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </footer>

    <script>
        const hamburgerIcon = document.getElementById('hamburger-icon');
        const mobileMenu = document.getElementById('mobile-menu');

        hamburgerIcon.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });

    </script>
    <script src="/components/utils/member.js"></script>
    <script src="/progress.js"></script>
    <script src="/middleware/middleware.js"></script>
    <script src="/security/typicalsleepingboy.js"></script>
</body>

</html>
