<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEKATE48 Fanmade Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="icon" href="/assets/css/image/favlogo.png" />
    <meta name="author" content="JEKATE48">
    <meta property="og:image:height" content="961">
    <meta property="og:image:width" content="1905">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/989168672708919317/1312702801561784430/jekate.png?ex=674d7540&is=674c23c0&hm=9ea5ecf4eb8348721762f134b4a30affbb5adcf3020bbb79b46a830dc1266520&">
    <meta property="og:title" content="JEKATE48">
    <meta property="og:description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
</head>

<body class="bg-gray-900 text-white">

    <div class="max-w-4xl mx-auto p-6">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-bold">Butuh Bantuan?</h1>
            <p class="text-lg mt-2">Santai aja, kami di sini buat bantu kamu! Kalau ada pertanyaan atau kendala, langsung aja hubungi kami. Ingat ya, ini cuma situs **fanmade**, bukan bagian dari JKT48 resmi.</p>
        </header>

        <section>
            <h2 class="text-2xl font-semibold mb-4">Kontak</h2>
            <p>Kalau ada yang mau ditanyakan atau butuh bantuan, kamu bisa hubungi kami lewat saluran di bawah ini. Walaupun ini bukan situs resmi JKT48, kami bakal berusaha kasih pengalaman terbaik buat para fans:</p>
            <ul class="list-disc pl-6 mt-4">
                <li>Email: <a href="mailto:typicalsleepingboyxxx@gmail.com" class="text-blue-400">support@wots48.site</a></li>
            </ul>
        </section>

        <footer class="mt-8 text-center text-gray-400">
            <p>&copy; 2024 fanmade Website by Januar Adhi N. All rights
reserved.
        </footer>
    </div>
    <script src="/middleware/middleware.js"></script>
    <script src="/progress.js"></script>
    <script src="/security/typicalsleepingboy.js"></script>

</body>

</html>
