<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEKATE48 Fanmade Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="icon" href="/assets/css/image/favlogo.png" />
    <meta name="author" content="JEKATE48">
    <meta property="og:image:height" content="961">
    <meta property="og:image:width" content="1905">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/989168672708919317/1312702801561784430/jekate.png?ex=674d7540&is=674c23c0&hm=9ea5ecf4eb8348721762f134b4a30affbb5adcf3020bbb79b46a830dc1266520&">
    <meta property="og:title" content="JEKATE48">
    <meta property="og:description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
</head>

<body class="bg-gray-900 text-white">

    <div class="max-w-4xl mx-auto p-6">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-bold">Syarat dan Ketentuan</h1>
            <p class="text-lg mt-2">Selamat datang di website **JEKATE48 Fanmade**. Jujur aja, website ini kami bikin
                karena kadang website resmi JOT suka ngelek dan UI-nya kurang menarik (hehe). Jadi, semoga yang ini
                bisa jadi alternatif buat kamu para fans JKT48, sama sorry kalau down terus yaa soalnya pakai gratisan apinya juga sering down 😭</p>
        </header>

        <section>
            <h2 class="text-2xl font-semibold mb-4">1. Penerimaan Syarat dan Ketentuan</h2>
            <p>Dengan pakai atau akses layanan di website **JEKATE48 Fanmade**, berarti kamu setuju dengan semua syarat
                dan ketentuan yang ada di halaman ini. Oh iya, ini cuma website fanmade ya, jadi gak ada hubungan resmi
                sama JKT48 atau afiliasinya.</p>
        </section>

        <section class="mt-6">
            <h2 class="text-2xl font-semibold mb-4">2. Penggunaan Layanan</h2>
            <p>Pengguna setuju buat pakai layanan di website ini dengan baik dan gak melakukan hal-hal negatif kayak
                aktivitas ilegal, nyusahin orang lain, atau melanggar hak cipta. Kami hormati hak kekayaan intelektual.</p>
        </section>

        <section class="mt-6">
            <h2 class="text-2xl font-semibold mb-4">3. Perubahan Ketentuan</h2>
            <p>Kami berhak buat ubah syarat dan ketentuan kapan aja kalau perlu. Kalau ada perubahan, kami bakal kasih
                tahu di website ini. Jadi, jangan lupa buat cek halaman ini secara berkala biar tetap up-to-date, ya!</p>
        </section>

        <footer class="mt-8 text-center text-gray-400">
            <p>&copy; 2024 JEKATE48 fanmade Website by Typicalsleepingboy. All rights
        </footer>
    </div>

    <script src="/middleware/middleware.js"></script>
    <script src="/progress.js"></script>
    <script src="/security/typicalsleepingboy.js"></script>
</body>

</html>
